<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Our fav icon -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Track Anything</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/info.css" rel="stylesheet" type="text/css"/>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        FB.api('/me', {fields: 'name, email'}, function(response) {
          document.getElementById('nav').innerHTML = `<li><a href="/trackers">Trackers</a></li>
          <li><a href="#">Credits</a></li>`;
          document.getElementById('logout').innerHTML = `<li><a onclick="logout();">Logout</a></li>`;
        });
      } else {
        logout();
      }
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    // Custom login for custom fb login button
    function login() {
      FB.login(function(response) {
      }, {scope: 'public_profile,email'});
    }

    // Override the FB logout because it's been buggy the past few times during tests
    // Reload the page after logout to redirect to home
    function logout() {
      FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                window.location.href = '/';
            });
        }
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        cookie     : true,
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };
  </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tracker</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><div id="nav" class="nav masthead-nav"></div></li>
                  <li><div id="logout" class="nav masthead-nav"></div></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner">

            <!-- Get error message from python side, put it into dismissable alert -->
            {% if error_msg is defined %}
            <div class="alert alert-warning" role="alert">
              <strong>Oops!</strong> {{ error_msg }}
            </div>
            {% endif %}

            <!-- The form with pre-existing tracker information -->
            <p><h3>Finish setting up your tracker! Here's what we have so far:</h3></p>
            <form method="post" class="form-horizontal" id="trackerForm">
            <div class="tab-content">
            </br>
                <div class="tab-pane active" id="info-tab">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Tracker Name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="tracker_name" value="{{ tracker.tracker_name }}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">IMEI</label>
                        <div class="col-xs-5">
                            <b>{{ tracker.imei }}</b>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Make</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="make" value="{{ tracker.make }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Model</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="model" value="{{ tracker.model }}"/>
                        </div>
                    </div>
                </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Year</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="year" value="{{ tracker.year }}" id="year"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Color</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="color" value="{{ tracker.color }}" id="colors"></select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" value="submit" class="btn btn-success" id="submit">Submit</button>
        </div>

          <div class="mastfoot">
            <div class="inner">
              <p>tracker by <a href="https://github.com/vickichowder">vickichowder</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
<script>
  // year drop down list
  var start = 1950;
  var d = new Date();
  var end = d.getFullYear() + 1;
  var options = "";
  for (var year = start ; year <= end ; year++) {
    options += "<option value="+year+">"+year+"</option>";
  }
  document.getElementById("year").innerHTML = options;

  // color drop down list
  var colors = ["Color", "Black", "Blue", "Gray", "Black", "Silver", "White", "Red", "Yellow", "Other"];
  var options = "";
  colors.forEach(function(color) {
    options += "<option value="+color+">"+color+"</option>";
  });
  document.getElementById("colors").innerHTML = options;

  window.onload = function() {
    document.getElementById("submit").onclick = function(e) {
      $.ajax({
        url: '/new_tracker',
        type: 'POST',
        data: $('#trackerForm').serialize(),
        success: function(response){
          window.location.href = '/new_tracker';
        }
      });
    }
  }
</script>
