<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Track Anything</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fb.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback', response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        FB.api('/me', {fields: 'name, email'}, function(response) {
          console.log('Landing page: Successful login for: ' + response.name);

          document.getElementById('logout').innerHTML = `<li><a onclick="logout();">Logout</a></li>`;

          document.getElementById('message').innerHTML = `<h1 class="cover-heading">Welcome, `+response.name+`</h1>
          <p class="lead">Would you like to...</p>
          <a href="/trackers" class="btn btn-lg btn-default">Ping a tracker</a>`;

          document.getElementById('nav').innerHTML = `<li><a href="/trackers">Trackers</a></li>
          <li><a href="#">Credits</a></li>`;
        });
      } else {
        document.getElementById('message').innerHTML = `<h1 class="cover-heading">Track anything.</h1>
        <p class="lead">No monthly subscriptions. Pay as you ping.</p>
        <a class="btn btn-block btn-social btn-facebook" onlogin="checkLoginState();" onclick="login();">
        <span class="fa fa-facebook"></span> <b>Continue with Facebook</b></a>`;

        document.getElementById('nav').innerHTML = `<li><a href="#">Features</a></li>
        <li><a href="#">Contact</a></li>`;
      }
    }

    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    // Force redirect/refresh after login, regardless of successful or not
    function login() {
      FB.login(function(response) {
        FB.api('/me', {fields: 'name, email'}, function(response) {
          console.log('Logging in: ' + response.name);
          $.ajax({
            url: '/home',
            type: 'POST',
            data: {'email' : response.email, 'name' : response.name}
          });
          console.log('Signing in: ' + response.name);
          window.location.href = '/home';
        });
      }, {scope: 'public_profile, email'});
    }

    // Override the FB logout because it's been buggy the past few times during tests
    // Reload the page after logout to redirect to home
    function logout() {
      FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                window.location.href = '/';
            });
        }
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        cookie     : true,
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };
  </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tracker</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><div id="nav" class="nav masthead-nav"></div></li>
                  <li><div id="logout" class="nav masthead-nav"></div></li>
                </ul>
              </nav>
            </div>
          </div>

          {% if logout is defined %}
          <div class="logout">
            <center>Goodbye, see you again soon</center>
          </div>
          {% endif %}

          <div class="inner cover">
            <div id="message"></div>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>tracker by <a href="https://github.com/vickichowder">vickichowder</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
