<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Track Anything</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fb.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/f82f4503f4.js"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);
      // The response object is returned with a status field that lets the
      // app know the current login status of the person.
      // Full docs on the response object can be found in the documentation
      // for FB.getLoginStatus().
      if (response.status === 'connected') {
        // Logged into your app and Facebook.
        FB.api('/me', {fields: 'name, email'}, function(response) {
          console.log('Successful login for: ' + response.name);
        });
      } else {
        location.replace('/');
      }
    }
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    function login() {
      FB.login(function(response) {
      }, {scope: 'public_profile,email'});
    }

    // Override the FB logout because it's been buggy the past few times during tests
    // Reload the page after logout to redirect to home
    function logout() {
      FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                window.location.href = '/';
            });
        }
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        cookie     : true,
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };

    // Load the SDK asynchronously
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">oneTrack</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/trackers">Trackers</a></li>
                  <li><a href="#">Credits</a></li>
                  <li><a href="/logout" onclick="logout();checkLoginState();">Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner">
            <h1 class="cover-heading">Your Trackers</h1>
              {% if tracker_names|length > 0 %}
                <p><h3>Click on a tracker to view it's location history</h3></p>
                <div class="list-group">
                  {% for tracker_name in tracker_names %}
                  <a href="/tracker/{{ tracker_name }}" class="list-group-item">{{ tracker_name }}</a>
                </div>
                  {% endfor %}
              {% else %}
              <div class="panel panel-default">
                <div class="panel-body">
                  You don't have any trackers yet! <i class="fa fa-frown-o" aria-hidden="true"></i>
                </div>
              </div>
              {% endif %}
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>tracker by <a href="https://github.com/vickichowder">vickichowder</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
