<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Track Anything</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/landing.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/fb.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/welcome.css" rel="stylesheet" type="text/css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    var email;
    var name;
    var phone;

    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
      console.log(response);

      if (response.status === 'connected') {
        FB.api('/me', {fields: 'name, email'}, function(response) {
          console.log('Welcome page to get number for: ' + response.name);
          email = response.email;
          name = response.name;

          document.getElementById('logout').innerHTML = `<li><a onclick="logout();">Logout</a></li>`;

          document.getElementById('new_user_form').innerHTML = `<h1 class="cover-heading">Hey there, `+response.name+`</h1>
            <p class="lead">You've never signed in before - can I get your number so we can get you set up?</p>
            <input type="text" placeholder="Primary Phone Number" id="phone" name="phone" class="no-border"/>`;

          document.getElementById('nav').innerHTML = `<li><a href="/trackers">Trackers</a></li>
            <li><a href="#">Credits</a></li>`;

        });

      } else {
        // Redirect back to landing
        logout();
      }
    }
    function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }

    // Override the FB logout because it's been buggy the past few times during tests
    // Reload the page after logout to refresh to home
    function logout() {
      FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                window.location.href = '/';
            });
        }
      });
    }

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2051263951766432',
        cookie     : true,
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.5' // use graph api version 2.5
      });

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

    };

  </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Tracker</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><div id='nav' class="nav masthead-nav"></div></li>
                  <li><div id="logout" class="nav masthead-nav"></div></li>
                </ul
              </nav>
            </div>
          </div>

          <div id="new_user_form" align="center"></div>

          <div class="mastfoot">
            <div class="inner">
              <p>tracker by <a href="https://github.com/vickichowder">vickichowder</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
<script>
  $( document ).ready(function() {
    document.getElementById('phone').onkeydown = function(e) {
      if(e.keyCode == 13){
        phone = document.getElementById('phone').value;
        if (/^\d{10}$/.test(phone)) {
          $.ajax({
            url: '/new',
            type: 'POST',
            // Get their fb email, name, and then phone number they just inputted
            data: {'phone' : phone},
            success: function(response){
              console.log(phone);
              // Send them to the new tracker confirmation form
              window.location.href = '/new';
            }
          });
        } else {
          // Make sure they enter a 10 digit phone number
          alert("Your phone number should be 10 digits!")
          number.focus();
          return false;
        }
      }
    }
  });
</script>
